body{
    text-align: center;
    margin: 20px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(58, 58, 58);
    background-color: rgb(235, 235, 235);
}
.entrada{
    width: 70%;
    height: 50px;
    margin: auto;
    display: flex;
    color: rgb(58, 58, 58);
    background-color:rgb(235, 235, 235);
    font-size: 25px;
}
.entrada option{
    font-size: 20px;
    text-align: center;
    color: rgb(58, 58, 58);
    background-color:rgb(235, 235, 235);
    margin: auto;
}
div{
    display: none;
}
.img{
    margin: auto;
    margin-top: 50px;
}
.boton{
    display: block;
    font-size: 26px;
    margin: auto;
    padding: 30px;
}
.f0 {
    font-size: 0.8rem;
}
.f1 {
    font-size: 0.9rem;
}
.f2 {
    font-size: 1rem;
}
.f3 {
    font-size: 1.1rem;
}
.f4 {
    font-size: 1.2rem;
}
